/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}
 
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
 
/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
 
/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}
 
/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
 
/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  border-radius: 10px;
}
 
/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}
 
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
a {
  text-decoration:none;
}
 
/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.header__menu{
  position: relative;
  top: 60px;
  width: 600px;
  height: 40px;
  background-color:cadetblue;
  margin: auto;
  border-radius: 25px;
}
.header__menu {

  display: flex;
  justify-content: space-evenly;
}
.z__index-3{
  z-index: 3;
}

.body1{
  padding: 0;
  margin: 0;
  height: 100vh;
  /* background-color: #b3cdff; */
  background-image: url(./page/451926622.jpg);
  position: relative;
  -webkit-background-size: cover;
          background-size: cover;

}
.body1:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  z-index: 2;
}

.open.activ .body1:after{
  background: rgba(0, 0, 0, 0.884);
}



.open.activ .body1{
  background-color: #000000;
}
.open.activ  .temp__city p  {
  color: #fff;
}
.open.activ  .zoglv__h2 h2{
  color: #fff;
}
.open.activ  .state__tema p{
  color: #fff;
}

.body2{
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input__city{
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgb(230, 230, 230);
}
.button__cnpk{    
  padding: 11px;
  border: 0px solid;
  border-radius: 8px;
  background: bisque;
  font-size: 16px;
  margin-left: 10px;
}
.button__cnpk:hover{    
  background: azure;
}
.content__block-1{
  width: 310px;
  height: 400px;
  border-radius: 4px;

}
.content__block-2{
  margin-left: 26px;
  width: 400px;
  height: 400px;
}
.temp__city p{
  margin: 10px;
  font-size: 20px;
}

.zoglv__h2 h2{
  margin-bottom: 10px;
}
.header__menu a {
  border-radius: 20px;
  font-size: 20px;
  color: beige;
  background-color: #5f9ea0;
  padding: 4px;
  text-align: center;
  width: 200px;
  text-indent: 0px;
  -moz-transition: background-color 0.8s 0.1s ease;
  -o-transition: background-color 0.8s 0.1s ease;
  -webkit-transition: background-color 0.8s 0.1s ease;
  cursor: pointer;
}

.header__menu a:hover {
background-color: #97CE68;
color: rgb(255, 255, 255);
}


.open.activ  .about__content p{
  color: #c2ff10;
}
.open.activ  .about__content h2{
  color: #c2ff10;
}


.state__tema {color: #fff;}
.zoglv__h2{color: #fff;}









body {
  z-index: 3;
  background: #ede9de; 
}
.container {
  z-index: 3;
  left: 50%;
  /* margin: auto -50px; */
  position: absolute;
  top: 622px;
  left: 913px;
}
.swing div {
  z-index: 3;
  border-radius: 50%;
  float: left;
  height: 1em;
  width: 1em;
}
.swing div:nth-of-type(1) {
  background: -webkit-linear-gradient(left, #385c78 0%, #325774 100%);
  background: linear-gradient(to right, #385c78 0%, #325774 100%);
}
.swing div:nth-of-type(2) {
  background: -webkit-linear-gradient(left, #325774 0%, #47536a 100%);
  background: linear-gradient(to right, #325774 0%, #47536a 100%);
}
.swing div:nth-of-type(3) {
  background: -webkit-linear-gradient(left, #4a5369 0%, #6b4d59 100%);
  background: linear-gradient(to right, #4a5369 0%, #6b4d59 100%);
}
.swing div:nth-of-type(4) {
  background: -webkit-linear-gradient(left, #744c55 0%, #954646 100%);
  background: linear-gradient(to right, #744c55 0%, #954646 100%);
}
.swing div:nth-of-type(5) {
  background: -webkit-linear-gradient(left, #9c4543 0%, #bb4034 100%);
  background: linear-gradient(to right, #9c4543 0%, #bb4034 100%);
}
.swing div:nth-of-type(6) {
  background: -webkit-linear-gradient(left, #c33f31 0%, #d83b27 100%);
  background: linear-gradient(to right, #c33f31 0%, #d83b27 100%);
}
.swing div:nth-of-type(7) {
  background: -webkit-linear-gradient(left, #da3b26 0%, #db412c 100%);
  background: linear-gradient(to right, #da3b26 0%, #db412c 100%);
}
.shadow {
  clear: left;
  padding-top: 1.5em;
}
/* .shadow div {
  -webkit-filter: blur(1px);
  filter: blur(1px);
  float: left;
  width: 1em;
  height: .25em;
  border-radius: 50%;
  background: #e3dbd2;
} */
.shadow .shadow-l {
  background: #d5d8d6;
}
.shadow .shadow-r {
  background: #eed3ca;
}
@-webkit-keyframes ball-l {
  0%, 50% {
    -webkit-transform: rotate(0) translateX(0);
    transform: rotate(0) translateX(0);
  }
  100% {
    -webkit-transform: rotate(50deg) translateX(-2.5em);
    transform: rotate(50deg) translateX(-2.5em);
  }
}
@keyframes ball-l {
  0%, 50% {
    -webkit-transform: rotate(0) translate(0);
    transform: rotate(0) translateX(0);
  }
  100% {
    -webkit-transform: rotate(50deg) translateX(-2.5em);
    transform: rotate(50deg) translateX(-2.5em);
  }
}
@-webkit-keyframes ball-r {
  0% {
    -webkit-transform: rotate(-50deg) translateX(2.5em);
    transform: rotate(-50deg) translateX(2.5em);
  }
  50%,
  100% {
    -webkit-transform: rotate(0) translateX(0);
    transform: rotate(0) translateX(0);
  }
}
@keyframes ball-r {
  0% {
    -webkit-transform: rotate(-50deg) translateX(2.5em);
    transform: rotate(-50deg) translateX(2.5em);
  }
  50%,
  100% {
    -webkit-transform: rotate(0) translateX(0);
    transform: rotate(0) translateX(0)
  }
}
@-webkit-keyframes shadow-l-n {
  0%, 50% {
    opacity: .5;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: .125;
    -webkit-transform: translateX(-1.57em);
    transform: translateX(-1.75em);
  }
}
@keyframes shadow-l-n {
  0%, 50% {
    opacity: .5;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: .125;
    -webkit-transform: translateX(-1.75);
    transform: translateX(-1.75em);
  }
}
@-webkit-keyframes shadow-r-n {
  0% {
    opacity: .125;
    -webkit-transform: translateX(1.75em);
    transform: translateX(1.75em);
  }
  50%,
  100% {
    opacity: .5;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes shadow-r-n {
  0% {
    opacity: .125;
    -webkit-transform: translateX(1.75em);
    transform: translateX(1.75em);
  }
  50%,
  100% {
    opacity: .5;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.swing-l {
  -webkit-animation: ball-l .425s ease-in-out infinite alternate;
  animation: ball-l .425s ease-in-out infinite alternate;
}
.swing-r {
  -webkit-animation: ball-r .425s ease-in-out infinite alternate;
  animation: ball-r .425s ease-in-out infinite alternate;
}
.shadow-l {
  -webkit-animation: shadow-l-n .425s ease-in-out infinite alternate;
  animation: shadow-l-n .425s ease-in-out infinite alternate;
}
.shadow-r {
  -webkit-animation: shadow-r-n .425s ease-in-out infinite alternate;
  animation: shadow-r-n .425s ease-in-out infinite alternate;
}

.about__content{
  border-radius: 10px;
  width: 558px;
  height: 364px;
  margin: auto;
  position: relative;
  top: 80px;
  background-color: #00000091;
  text-align: justify;
  padding: 6px;
}
.about__content h2{
  color: #fff;
}
.about__content p{
  color: #fff;
  font-family: sans-serif;
  font-size: 20px;
}



@media(max-width: 600px){
  .header__menu{
    width: 324px;
  }
  .header__menu a{
    font-size: 15px;
    padding-top: 8px;
  }
  .body1{
    width: 391px;
  }
  .input__city {
    padding: 9px;
    font-size: 12px;
    margin-left: 30px;
  }
    .button__cnpk {
      padding: 9px;
      font-size: 12px;
    }
    .about__content {
      width: 330px;
      height: 540px;
  }
  .container {
    left: 143px;
}
}